<div id="avatar">
	<img id="base" src="/public/assets/base.svg">
	
	<img    class="weapon" 
			id="<%= avatar.weapon.item_type %>" 
			src="/public/assets/Weapons/<%= avatar.weapon.file_name %>"
		>
	<% if (avatar.hat !== null){ %>
	<img    class="head" 
			id="<%= avatar.hat.item_type %>" 
			src="/public/assets/Hats/<%= avatar.hat.file_name %>"
		>
	<% } %>
</div>