<button class="helpbtn">&quest;</button>
<div class="help-modal hidden">
    <div class="modal-header">
        <div class="modal-title">Help</div>
        <button id="closebtn">&times;</button>
    </div>
    <div class="modal-body">
        <p id="help1">
            Welcome to <span style="color:cyan">Souldle</span>, a Wordle-inspired web game where you must 
            defeat the Skeleton Lord with a precise combination of moves. 
            One misstep and the skeleton lord defeats you, so make each move count!
        </p>
        <p id="help2">
            To aid you in your battle, a sequence from a previous player 
            is granted as a message for you as a guide to make the right decision.
            In the first row, correct moves in the right position are shown with a 
            <span style="color:cyan">blue</span> background, so use that to your advantage!
        </p>
        <p id="help3">
            To remove any of your moves, simply click the square of the move you would like to change.
            When you have prepared your moves and are ready to face the boss, <strong>click your avatar</strong> to engage combat.
        </p>
    </div>
    <div id="helpnav">
        <button id ="backbtn"><</button>
        <button id ="nextbtn">></button>
    </div>
</div>
<script src="scripts/helpbtn.js" type="text/javascript"></script>