<div class="modal hidden">
    <div class="modal-header">
        <p> </p>
        <div class="modal-title">Purchase Item</div>
        <button id="closebtn">&times;</button>
    </div>
    <div class="divider"></div>
    <div class="modal-body">
        <div id='left'>
            <img id="purchase">
        </div>

        <div id="right">
            <h3 id="name"></h3>
            <h4 id="cost"></h4>
            <br><br><br>
            <button id="buy">Purchase</button>
            <br>
        </div>
    </div>
</div>