<!DOCTYPE html>

<html>
    <head>
        <title> Account Options Page</title>
		<link rel = "stylesheet" href = "/public/styles/account_settings.css">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
		<script src="/public/scripts/account_settings.js" type="text/javascript"></script>
    </head>

    <body>
		<div class ="main">
			<script>$(document).ready(() => $("header").load("menubtn.html"));</script>
			<header></header>
			
			<%- include('./partials/nav.ejs') %>
			
			<h1>Account Options</h1>
			
			<div id = "delete">
				<form action="/delete" method="get">
					<label>Enter Password to confirm</label>
					<input type="password" name="password"><br>
					
					<button type="submit" class="accountbtn" id ="deletebtn">Confirm Deletion</button>
					<button type="button" class="accountbtn" id ="close" onclick = "closeForm()"> Close </button>
				</form>
			</div>
			
			<div id = "login">
				<form action = "/change">				
					<label for = "Password">Change Password </label>
						<input type = "password" id = "password"><br><br>
				
				
					<input id="submitform" type = "submit" value = "Submit"><br><br>
				</form>
				
				<a href="/logout"> <button class="accountbtn" id="logoutbtn">Logout</button></a><br>
				
				<button class="accountbtn" id="openDelete" onclick="openForm()">Delete Account</button>
			</div>
		</div>

    </body>
</html>