<html>
	<head>
		<title>Search Players</title>
		<link rel="stylesheet" href="/public/styles/search.css">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
		<script src="/public/scripts/search.js" type="text/javascript"></script>
	</head>

	<body>
		<%- include('./partials/nav.ejs') %>
		
		<div id="area">
			<div id="userbox">
				<div id="top">
					<h1 id="title">Find a User</h1>
				</div>
				<div class="break"></div><br><br><br><br>
				<form id="searchbar">
					<input type="text" id="username-entry" name="name" placeholder="Enter Username"><br>
				</form>
				<div class="break"></div><br><br>
				<p id="error"></p>
			</div>
		</div> 
		
	</body>
</html>