<html>

<head>
     <title>Profile</title>
	 <meta name=”description” content=”CharacterPage”>
	 <meta name=”keyword” content=”character, page, profile”>
	 <meta name=”author” content=”JPMP”>
	 <link rel="stylesheet" href="/public/styles/profile.css">

	 <script src='https://code.jquery.com/jquery-3.6.0.min.js' type="text/javascript"></script>
	 <script src="/public/scripts/menubtn.js" type="text/javascript"></script>
</head>

	<body>
        <div id="entirepage">
			<script>$(document).ready(() => $("header").load("menubtn.html"));</script>
			<header></header>

			<!--- TODO: obtain username from database -->
			<h1>Username#1234</h1>
			<div id="area">
            <div id="left">
                <img id="avatar" src="/public/assets/[svg]avatar.svg"> <br>
                <form action="customize.html"><input type="submit" id="return" value="Customize Avatar" /></form>
            </div>
			
			<div class="statistics">
            <!--- TODO: obtain CurrentStreak, MaxStreak, GamesPlayed and Winrate from database -->
				<ul >
					<li>streak:24</li>
					<li>highest streak:24</a></li>
					<li>games played: 24</li>
					<li>winrate: 100%</li>
				</ul>
			</div>
			</div>
        </div>
    </body>
</html>