h1{
	font-family : "Papyrus";
	font-size: 100px;
	font-weight: bold;
	letter-spacing: 10 px;
	margin: 0 0 17px 0;
	padding: 0 0 17px 0;
 	text-align: center;
}

input[type=submit] {
	background-color: grey;
	border: inset;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family : "Papyrus";
    margin: 8px 0;
    padding: 14px 20px;
    width: 200px;
}

label:after { content: ": " }

.login {
	font-family : "Papyrus";
	font-size: 50px;
 	text-align: center;
}

.main{
    display: block;
	margin: auto;
    padding-top: 100px;
}

a{
	font-size: 20px;
	color:aqua;
}

a:hover {
	color : blue;
	text-decoration : underline;
}