#menubtn{
    width: 50px;
    height: 50px;
	background-color: transparent;
	background: url('../../Assets/Buttons/menu.svg') no-repeat;
	background-size: contain;
	background-position: center;
	border: none;
    position: absolute;
    z-index: 0;
    top:30px;
    left:30px;
	cursor: pointer;
}

#sidebar{
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 201, 201);
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 50px;
}

#sidebar a{
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    text-align: left;
    font-family: sans-serif;
    font-size: 25px;
    color: whitesmoke;
    display: block;
    white-space: nowrap;
    transition: 0.2s;
}

#exitbtn{
    position: absolute;
    font-weight: bold;
    right: 10px;
    top: 0;
}

#setting{
    position: absolute;
    right:10;
    bottom: 60px;
}