@import "theme.css";
@import "menubtn.css";
@import "helpmodal.css";
@import "gameAvatar.css";
@import "Skull.css";
#content{
	width: 800px;
	margin:auto;
}

.breakdiv{
	clear:both;
}

.divider{
	height:3px;
	width: 100%;
	margin:auto;
	background-color: aqua;
}

.playbox{
	width:80%;
	margin:auto;
}

.iconbar{
	height:130px;
	padding: 10px;
}

.iconbox{
	background-color: rgba(129, 129, 129, 0.418);
	border: 3px solid rgb(61, 61, 61);
	border-radius: 3px;
	padding: 0;
	float:left;
	margin: 10px 10px;
	width: 100px;
	height: 100px;
}

.button {
    background-color: rgba(129, 129, 129, 0.418);
    border-radius: 70px;
    margin: 10px 10px;
    padding: 12px 16px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
}

.button[id = "a"]:hover {
  background-color: crimson;
}

.button[id = "b"]:hover {
  background-color: deepskyblue;
}

.button[id = "c"]:hover {
  background-color: greenyellow;
}

.button[id = "d"]:hover {
  background-color: gold;
}

.button[id = "e"]:hover {
  background-color: orchid;
}

.A{
background-color: crimson;
background-image: url("/public/asset/Icons/AttackIcon.svg");
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}
.B{
background-color: deepskyblue;
background-image: url("/public/asset/Icons/DefendIcon.svg");
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}
.C{
background-color: greenyellow;
background-image: url("/public/asset/Icons/DodgeIcon.svg");
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}
.D{
background-color: gold;
background-image: url("/public/asset/Icons/MagicIcon.svg");
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}
.E{
background-color: orchid;
background-image: url("/public/asset/Icons/PotionIcon.svg");
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

.correct{
border: 10px solid blue;
}
.wrong{
border: 10px solid gray;
}
