@import "theme.css";
@import "menubtn.css";

#top{
    height: 50px;
    position:relative;
}

#area{
    display: flex;
    padding-top: 50px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#title{
    font-size: 50;
    font-family: "Garamond";
}

#userbox{
    width: 750px;
    height: auto;
}

#username-entry{
    width: 70%;
    height: 70px;
    font-size: 40px;
    background-color: lightgray;
    color:black;
    text-align: center;
}

#username-submit{
    width: 50%;
    height: 70px;
    font-size: 40px;
    background-color: gray;
    color:black;
}

#username-submit:active{
    background-color: rgb(53, 53, 53);
}

#error{
    font-family: "Garamond";
    font-style: "bold";
    font-size: 30px;
    color: red;
}

.user{
    width: 100%;
    height: 100px;
    padding-left: 20px;
    font-size: 25px;
    float: left;
    border: 5px solid rgb(141, 141, 141);
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    font-family: sans-serif;
}

.user:hover{
    cursor:pointer;
    border-color: aqua;
    background-color: rgb(90, 90, 90);
}

.username{
    padding-left: 40px;
    font-size: 40px;
    float: left;
}

.icon{
    width: 10%;
    height: 90%;
    margin: 5px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    float: left;
}

.break{
    clear: both;
    padding: 5px;
}

