a:hover {
	color : blue;
	text-decoration : underline;
}

a:link {
  color: purple;
  text-decoration: none;
}

button, #submitform{
	background-color: grey;
    border-radius: 4px;
    cursor: pointer;
    font-family : "Papyrus";
    margin: 8px 0;
    padding: 14px 20px;
    width: 200px;
}

#logoutbtn{
	border: inset green;
    color: white;
}

#delete{
	display: none;
}

#openDelete{
	border: inset red;
    color: red;
}

h1{
	font-family : "Papyrus";
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 10 px;
	margin: 0 0 17px 0;
	padding: 0 0 17px 0;
 	text-align: center;
}

input[type=submit] {
	border: inset;
    color: white;
}

input[type=text]{ color: black; }

label:after { content: ": " }

form {
	font-family : "Papyrus";
	font-size: 50px;
 	text-align: center;
}

.main{
    display: block;
	margin: auto;
    padding-top: 100px;
}