@import "theme.css";
@import "avatar.css";
@import "menubtn.css";

#area{
    display: flex;
    padding-top: 100px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#left{
    padding: 30px;
    justify-content: center;
}

#save{
    width: 292px;
    height: 40px;
    text-align: center;
    color:black;
}

.gridbox{
    position: relative;
    overflow: visible;
    white-space: nowrap;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
    border: 10px solid rgb(70, 215, 235);
    border-radius: 20px;
}

.item{
    background-color: rgb(116, 116, 116);
    border: 1px solid rgb(61, 61, 61);
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    padding: 0;
    text-align: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.item img{
    width:90px;
    height:90px;
}

.item:hover{
    cursor: pointer;
    background-color: rgb(223, 223, 223);
}

.row{
    overflow:inherit;
}

.row:after{
    clear:both;
}