#hat0{
	background-color: grey;
	background: url("../Assets/Hats/Viking.svg") no-repeat;
	background-size: contain;
	background-position: center;
}
#hat1{
	background-color: grey;
	background: url("../Assets/Hats/crown.svg") no-repeat;
	background-size: contain;
	background-position: center;
}
#hat2{
	background-color: grey;
	background: url("../Assets/Hats/DarkHelm.svg") no-repeat;
	background-size: contain;
	background-position: center;
}
#hat3{
	background-color: grey;
	background: url("../Assets/Hats/LightHelm.svg") no-repeat;
	background-size: contain;
	background-position: center;
}
#wpn0{
	background-color: gray;
	background: url("../Assets/Weapons/[svg]katana.svg") no-repeat;
	background-size: contain;
	background-position: center;
}
#wpn1{
	background-color: gray;
	background: url("../Assets/Weapons/[svg]axe.svg") no-repeat;
	background-size: contain;
	background-position: center;
}
#wpn2{
	background-color: gray;
	background: url("../Assets/Weapons/[svg]hammer.svg") no-repeat;
	background-size: contain;
	background-position: center;
}
#wpn3{
	background-color: gray;
	background: url("../Assets/Weapons/[svg]scythe.svg") no-repeat;
	background-size: contain;
	background-position: center;
}