@import "theme.css";
@import "menubtn.css";

.entirepage{
	margin: 40px auto 60px;
	width: 950px;
	font-family: "Garamond";
}

h1{
	margin: 0 0 17px 0;
	padding: 0 0 17px 0;
	font-size: 43px;
	font-weight: bold;
	letter-spacing:-3px;
    width: 400px;
}
.header{
	display: flex;
}

#soulcount{
	text-align: right;
}

img{
	height: 140px;
	width: 140px;
	margin: 0 0 0 0;
	padding: 0;
}

.gridbox{
    position: relative;
    overflow: visible;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
    border: 10px solid rgb(70, 215, 235);
    background-color:rgb(70, 70, 70);
    border-radius: 20px;
}

.item{
    background-color: rgb(116, 116, 116);
    border: 3px solid rgb(61, 61, 61);
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    padding: 0;
    text-align: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    cursor:pointer;
}

.item:hover{
	border-color: cyan;
}

.itemheader{
    width: 100%;
}

.break{ 
    clear: both; 
}

.divider{
    width: 100%;
    border: 2px solid white;
}