<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles/index.css">
    </head>

    <body>
        <h1>Souldle</h1>
        <form action="/play" method="get">
            <button type="submit">Play Now!</button>
        </form>
        <br><br>
        <p class="smalltext">Play without an account.</p>
        <p class="smalltext" id="no-account">You will not be rewarded any souls while playing as a guest.</p>

        <form action="/login" method="get">
            <button type="submit">Log-In</button>
        </form>
        <br><br>
        <p class="smalltext">Log-in to unlock customization features and save gameplay during session.</p>
    </body>
</html>