<html>

<head>
	<title>Souldle Store Page</title>
	<meta name=”description” content=”CharacterPage”>
	<meta name=”keyword” content="store, page, items">
	<meta name=”author” content=”JPMP”>
	
	<link rel="stylesheet" href="styles/storestyles.css">
	<link rel="stylesheet" href="styles/storesheet.css">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
</head>

<body>
	<script>$(document).ready(() => $("header").load("menubtn.html"));</script>
	<header></header>


	<div class="entirepage">
		<div class="break"></div>
		<div class="header">
			<h1 id="store">Store</h1>
			<!--- TODO: obtain soulcount from database -->
			<h1 id="soulcount">Souls: 9999</h1>
		</div>
		<div class="break"></div>
		<div class="gridbox">
			<div class="row">
				<button class="item" id="hat0"></button>
				<button class="item" id="hat1"></button>
				<button class="item" id="hat2"></button>
				<button class="item" id="hat3"></button>
			</div>
			<div class="row">
				<button class="item" id="wpn0"></button>
				<button class="item" id="wpn1"></button>
				<button class="item" id="wpn2"></button>
				<button class="item" id="wpn3"></button>
			</div>
		</div>
		<div class="break"></div>
	</div>
</body>

</html>